/* global styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}
main {
  background: url('./images/bg-mobile.png') center/cover no-repeat;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}
.container {
  width: 90%;
  margin: 0 auto;
  max-width: 375px;
}
/* container 1 */
.container-1 {
  background-color: hsl(228, 56%, 26%);
  padding: 3rem 2rem;
  border-radius: 0.75rem;
  border-top-right-radius: 5rem;
}
.icons {
  margin-top: 1rem;
  display: flex;
}
.icons span {
  display: block;
  background-color: hsl(229, 57%, 11%);
  width: 3rem;
  height: 3rem;
  border-radius: 10px;
  display: grid;
  place-items: center;
  margin-right: 1rem;
  cursor: pointer;
}

/* container 2 */
.container-2 {
  margin-top: 1rem;
  background: hsl(228, 56%, 26%);
  padding: 2rem 2rem 4rem 2rem;
  border-radius: 0.75rem;
  position: relative;
}
.container-2 p {
  color: hsl(0, 0%, 75%);
  text-align: center;
}
.loading {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  width: 100%;
  height: 1.5rem;
  border-radius: 2rem;
  background: hsl(229, 57%, 11%);
}
.inside {
  height: 95%;
  width: 85%;
  background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  border-radius: 2rem;
}
span {
  color: #fff;
}
.gb {
  display: flex;
  justify-content: space-between;
}

/* container 3 */
.container-3 {
  position: absolute;
  background: #fff;
  width: fit-content;
  padding: 1rem;
  border-radius: 0.75rem;
  right: 25%;
  top: 75%;
}
.container-3 h1 {
  font-size: 3rem;
}
.container-3 span {
  color: hsl(0, 0%, 75%);
  font-size: 1rem;
  text-transform: uppercase;
}
.attribution {
  margin-top: 5rem;
  text-align: center;
  color: #fff;
}
.attribution a {
  color: #fff;
}

/* desktop */
@media screen and (min-width: 1040px) {
  .container {
    max-width: 1040px;
  }
  .flex-container {
    display: flex;
    margin-bottom: 5rem;
    justify-content: space-between;
    align-items: flex-end;
  }
  .container-1 {
    flex-basis: 32%;
  }
  .container-2 {
    flex-basis: 65%;
    padding: 2rem;
  }
  .container-3 {
    top: -25%;
    right: 2rem;
  }
  .container-2 p {
    text-align: left;
  }
  main {
    background: url('./images/bg-desktop.png') cover/center no-repeat;
  }
}
